{% extends "layout.html" %}

{% block body %}
<div class="text-center">
<h1>Hakkımızda</h1>
<hr>
<p>
Hoş Geldiniz!
<br><br>
Araç Alım Satımı olarak, müşterilerimize güvenilir ve kullanıcı dostu bir platform sunmaktan gurur duyuyoruz. Misyonumuz, araç alıcıları ve satıcıları arasında güvenilir bir bağlantı oluşturarak, en iyi araçlara erişimi kolaylaştırmaktır.
<br><br>
Ekibimiz, otomobil endüstrisinde geniş deneyime sahip uzmanlardan oluşur. Araç alım satım sürecinin karmaşıklıklarını anlıyoruz ve müşterilerimizin güvenli ve sorunsuz bir deneyim yaşamasını sağlamak için çalışıyoruz. Sitemizde yer alan araçlar, titizlikle seçilmiş ve kalite standartlarına uygun olarak değerlendirilmiştir. Müşterilerimize en iyi araçları sunmak için çeşitli markalar, modeller ve fiyat aralıklarında geniş bir seçenek sunmaktayız.
<br><br>
Güvenlik, bizim için en önemli önceliklerden biridir. Tüm araçların geçmişini, teknik durumunu ve sahiplik bilgilerini titizlikle doğruluyoruz. Ayrıca, alıcı ve satıcılar arasında gerçekleşen işlemlerin güvenliğini sağlamak için güvenli ödeme seçenekleri sunuyoruz. Müşterilerimizin gizliliğini ve verilerini korumak için de gerekli önlemleri alıyoruz.
<br><br>
Ekibimiz, size en iyi müşteri hizmetini sunmak için burada. Herhangi bir sorunuz, öneriniz veya geri bildiriminiz varsa, bizimle iletişime geçmekten çekinmeyin. Profesyonel ve dostane bir ekip olarak, size yardımcı olmaktan mutluluk duyacağız.
<br><br>
Araç Alım Satımı olarak, sizin için mükemmel bir aracı bulmanıza yardımcı olmak için buradayız. Bizi tercih ettiğiniz için teşekkür ederiz ve harika bir alışveriş deneyimi yaşamanızı dileriz!
</p>

{% if session["logged_in"] %}

{% else %}
<button type="button" class="btn btn-primary">Hemen Kayıt Olun!</button>
{% endif %}

</div>
{% endblock  %}k