{% extends "layout.html" %}

{% block body %}

{% from "includes/formhelpers.html" import render_field %}
<h3 class="text-center">Kayıt Olun</h3>
<hr>
<form method = "post">
    <dl>
    {{ render_field(form.name, class = "form-control") }}
    {{ render_field(form.username, class = "form-control") }}
    {{ render_field(form.email, class = "form-control") }}
    {{ render_field(form.password, class = "form-control") }}
    {{ render_field(form.confirm, class = "form-control") }}
  </dl>
  <button type="submit" class="btn btn-primary">Kayıt ol</button>
</form>

{% endblock  %}