{% extends "layout.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}

<h3 class="text-center">İlan Güncelle</h3>
<hr>
<form method = "post">
    <dl>
    {{ render_field(form.title, class = "form-control") }}
    {{ render_field(form.city, class = "form-control") }}
    {{ render_field(form.brand, class = "form-control") }}
    {{ render_field(form.model, class = "form-control") }}
    {{ render_field(form.year, class = "form-control") }}
    {{ render_field(form.context, class = "form-control") }}
    {{ render_field(form.price, class = "form-control") }}
    </dl>
  <button type="submit" class="btn btn-success">İlan Güncelle</button>
</form>

{% endblock  %}